@inherits LayoutComponentBase
@using Freenymous.Front.Controls
@using Freenymous.Front.Services
@inject ILocalStorageService LocalStorageService
<div class="page">
    <main>
        @if (!_anotherPage)
        {
            <CascadingValue Value="@_myUserControl">
                <div class="row" style="padding: 10px">
                    <div class="col-xl-2 col-lg-3 col-md-4" style="text-align: center">
                        <MyUser @ref="@_myUserControl"></MyUser>
                    </div>
                    <div class="col-xl-10 col-lg-9 col-md-8">
                        @Body
                    </div>
                </div>
            </CascadingValue>
        }
        else
        {
            <span>Another page is open</span>
        }
        
    </main>
</div>