@page "/"
@page "/Search/{SearchStr}"
@using Freenymous.Front.Services
@using Freenymous.Front.Controls
@inject NavigationManager NavigationManager
@inject ITopicService TopicService
<div style="width:100%; padding: 10px" class="card">
    <Disclaimer Title="Disclaimer" Collapsed="false"></Disclaimer>
</div>
<div style="width:100%; padding: 10px; margin-top: 5px" class="card">
    <div class="input-group">
        <div class="input-group-prepend">
            <button @onclick="@(_=> NavigationManager.NavigateTo("/NewTopic"))" class="btn btn-outline-secondary" type="button">New topic</button>
        </div>
        <input @bind="SearchStr" type="text" class="form-control" placeholder="Type text or tags to search topic..." aria-label="Type text or tags to search topic..." aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button @onclick="() => Search()" class="btn btn-outline-secondary" type="button">Search</button>
        </div>
    </div>
</div>
<div style="width:100%; padding: 10px; margin-top: 5px">
    @foreach (var topic in _topics)
    {
        <TopicCard Topic="@topic"></TopicCard>
    } 
</div>
@if (_canLoadMore)
{
    <div>
        <button @onclick="LoadMore" class="btn btn-outline-secondary" type="button">Load more</button>
    </div>
}