@page "/"
@using Freenymous.Front.Services
@using Freenymous.Front.Controls
@inject NavigationManager NavigationManager
@inject ITopicService TopicService
<div style="width:100%; padding: 10px" class="card">
    <h3>Disclamer</h3>
    <h7>
        <p>The corner of the free Internet is a purely entertainment portal. We are against violence, drugs and child pornography.</p>
        <p>The service is provided as is - you can use it at your own risk. If you feel uncomfortable or some words offend you - just close the page.</p>
        <p>We do not store user data and do not use cookies for this. Everything you write is absolutely anonymous - enjoy.</p>
    </h7>
</div>
<div style="width:100%; padding: 10px; margin-top: 5px" class="card">
    <div class="input-group">
        <div class="input-group-prepend">
            <button @onclick="@(_=> NavigationManager.NavigateTo("/NewTopic"))" class="btn btn-outline-secondary" type="button">New topic</button>
        </div>
        <input type="text" class="form-control" placeholder="Type text or tags to search topic..." aria-label="Type text or tags to search topic..." aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button">Search</button>
        </div>
    </div>
</div>
<div style="width:100%; padding: 10px; margin-top: 5px">
    @foreach (var topic in _topics)
    {
        <TopicCard Topic="@topic"></TopicCard>
    } 
</div>